/**
22-aug-2018 09:13
This `style2.css` file
was made to be included just only in `result2.blade.php` page
when re-designing that.
 */
/* ==== All tag Start ==== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    outline: 0;
}
ul,ol {
    list-style-type: none;
    margin: 0px;
}
a,a:hover,a:focus {
    text-decoration: none;
}
img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}

.clr {
    clear: both;
}

.m-auto {
    margin: auto !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}

.mt-0 {
    margin-top: 0px !important;
}
.ml-0 {
    margin-left: 0px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mr-0 {
    margin-right: 0px !important;
}

.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
/* ==== All tag End ==== */

/*All-botton*/
.btn {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    border-bottom: 3px solid #634fa4;
    border-radius: 5px;
    background-color: #7e65d4;
    padding: 17px 40px;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 13px 70px -16px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
    box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
}
.btn i {
    padding-left: 10px;
}
.btn:hover {
    opacity: 0.9;
    color: #ffffff;
}
.btn:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
}

.btn.active,
.btn:active {
    background: #7e65d4;
}
/*All-botton*/

/*All-header*/
.all-header {
    text-align: center;
    color: #24233f;
}
.all-header h3 {
    font-weight: 700;
    font-size: 40px;
}
.all-header h4 {
    font-weight: 400;
    font-size: 30px;
}
.all-header img {
    padding-bottom: 20px;
}
/*All-header*/

/* ==== Banner Start ==== */
#banner {
    background: url(../images/bannerbg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    padding: 20px 0px;
    position: relative;
}
.banner-ads-box {
    position: absolute;
    bottom: -10px;
    right: 315px;
    background: #7e65d4;
    border-radius: 5px;
    -moz-box-shadow:    0px 5px 30px -4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 30px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 30px -4px rgba(0,0,0,0.3);
}
.banner-ads {
    border-radius: 5px;
    -moz-box-shadow:    0px 0px 0px 2px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.3);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.3);
    overflow: hidden;
    padding: 5px 20px 5px 8px;
}
.banner-ads-pic {
    float: left;
}
#multi-step-form fieldset {
    background: transparent;
}
.banner-ads-text {
    float: right;
    padding-left: 8px;
}
.banner-ads-text h6 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 3px;
}
.banner-ads-text h6 span {
    font-weight: 300;
    font-size: 16px;
}
.banner-logo a {
    display: inline-block;
}
.banner-logo img {
    padding-top: 10px;
    max-width: 170px;
    width: 100%;
}

.banner-sidebar {
    text-align: right;
}

.banner-hrader {
    float: right;
    padding: 14px 45px 0px;
}
/* Important styles */
#toggle {
    display: block;
    width: 17px;
    height: 30px;
    float: right;
}
#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
}
#toggle span:after{
    top: 5px;
}
#toggle span {
    position: relative;
    display: block;
}
#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
/* on activation */
#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    -ms-transform: rotate(45deg) translate(2px, 2px);
    -webkit-transform: rotate(45deg) translate(2px, 2px);
    -moz-transform: rotate(45deg) translate(2px, 2px);
    -o-transform: rotate(45deg) translate(2px, 2px);
    transform: rotate(45deg) translate(2px, 2px);
}
#toggle.on span:after {
    -ms-transform: rotate(-50deg) translate(5px, -5px);
    -webkit-transform: rotate(-50deg) translate(5px, -5px);
    -moz-transform: rotate(-50deg) translate(5px, -5px);
    -o-transform: rotate(-50deg) translate(5px, -5px);
    transform: rotate(-50deg) translate(5px, -5px);
}
#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}
/* menu appearance*/
#menu {
    position: absolute;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: rgba(0,0,0,0.8);
    -moz-box-shadow:    0 1px 8px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    top: 44px;
    right: 132px;
    z-index: 99;
}
#menu:after {
    position: absolute;
    top: -20px;
    left: 85px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid rgba(0,0,0,0.8);
}
#menu ul li a:hover,#menu ul li a:focus {
    background: rgba(0,0,0,0.5);
}
#menu ul li a {
    font-size: 16px;
    padding: 2px 0;
    color: #fff;
    display: block;
}

.banner-call {
    float: right;
}
.banner-call a {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #4588e6;
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-box-shadow:    0px 0px 40px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
    display: inline-block;
}
.banner-call a i {
    padding-right: 5px;
}
.banner-main {
    text-align: center;
    padding-top: 90px;
}
.banner-header {
    font-weight: 400;
    color: #ffffff;
}
.banner-header h2 {
    font-size: 50px;
}
.banner-header h2 span {
    font-weight: 700;
    position: relative;
}
.main-head h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.main-head h2 span {
    font-weight: 900;
}
.banner-header h2 span:before {
    position: absolute;
    content: '';
    bottom: 9px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: #ffc600;
}
.banner-header h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 38px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.banner-header-logo {
    text-align: center;
}
.banner-header-logo img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    opacity: 0.8;
}
.banner-form-box {
    margin: 40px 0px -30px;
    background: #ffffff;
    border-radius: 8px;
    -moz-box-shadow:    0px 10px 55px -4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 55px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 55px -4px rgba(0,0,0,0.3);
}
.banner-form {
    padding: 35px 35px 40px 35px;
    border-radius: 8px;
    -moz-box-shadow:    0px 0px 0px 2px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.3);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.3);
    text-align: center;
}
.banner-form h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #24233f;
    padding-bottom: 25px;
}
.form-control {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #808080;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    background: #ffffff;
    height: 54px;
    padding: 6px 12px 6px 15px;
    -moz-box-shadow:    0px 13px 70px -16px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
    box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
    width: 46%;
    margin: 0px 8px;
    display: inline-block;
}
.select-frm {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #808080;
    -webkit-appearance: none;
}
.banner-form .btn {
    font-size: 30px;
    padding: 12px 70px;
    margin: 18px 0px;
}
.banner-form img {
    display: inline-block;
}
/* ==== Banner End ==== */

/* ==== Advertised Start ==== */
#advertised {
    padding: 70px 0px 90px;
}

.feature-logo {
    padding: 20px 0px;
    text-align: center;
    background: #ffffff;
    -moz-box-shadow:    0px 15px 60px 0px rgba(32,94,171,0.13);
    -webkit-box-shadow: 0px 15px 60px 0px rgba(32,94,171,0.13);
    box-shadow: 0px 15px 60px 0px rgba(32,94,171,0.13);
    border-radius: 8px;
    margin-top: 20px;
}
.feature-logo img {
    padding: 0px 20px;
    display: inline-block;
}

.advertised-main {
    padding-top: 120px;
}

.advertised-header {
    text-align: left;
}
.advertised-text p {
    font-size: 16px;
    color: #616161;
    line-height: 35px;
    padding: 28px 0px;
}
.advertised-text .btn {
    font-size: 18px;
    padding: 20px 55px;
}
/* ==== Advertised End ==== */

/* ==== Savings Start ==== */
#savings {
    background: url(../images/savingsbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0px;
}
.savings-main {
    padding-top: 15px;
}
.savings-box {
    text-align: center;
    display: inline-block;
    border-right: 2px solid #ffffff;
    padding: 0px 28px;
}
.savings-box h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
}
.savings-box img {
    display: inline-block;
    padding-right: 10px;
}

.border-none {
    border: none;
}
/* ==== Savings End ==== */

/* ==== Work Start ==== */
#work {
    background: url(../images/workbg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 120px 0px 30px;
}

.work-main-slide {
    position: relative;
}

.work-main-slide .w-left {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;

    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    color: #7e65d4;
    font-size: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 70px;
    z-index: 1;
    -moz-box-shadow:    0px 25px 50px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}
.work-main-slide .w-right {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;

    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    color: #7e65d4;
    font-size: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 70px;
    z-index: 1;
    -moz-box-shadow:    0px 25px 50px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.work-main {
    overflow: visible;
}
.work-box-main {
    position: relative;
    margin: 65px 5px;
}
.work-box-main .work-boxbg-pic {
    position: absolute;
    bottom: -85px;
    right: -65px;
    z-index: -1;
}
.work-box-main .work-boxbg-left {
    left: -70px;
}
.work-box-main .work-boxbg-top {
    top: -80px;
    right: -65px;
}
.work-box {
    background: #ffffff;
    text-align: center;
    border-radius: 15px;
    -moz-box-shadow:    15px 15px 50px 0px rgba(32,94,171,0.10);
    -webkit-box-shadow: 15px 15px 50px 0px rgba(32,94,171,0.10);
    box-shadow: 15px 15px 50px 0px rgba(32,94,171,0.10);
}
.work-box img {
    padding: 35px 0px;
}
.work-box h5 {
    font-weight: 700;
    font-size: 20px;
    color: #263238;
}
.work-box p {
    padding: 25px 0px 60px;
    color: #616161;
    line-height: 30px;
}
.work-btn {
    padding: 0px 0px;
}
/* ==== Work End ==== */

/* ==== Help Start ==== */
#help {
    background: url(../images/helpbg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    padding: 60px 0px 60px;
}
.help-header {
    text-align: left;
    padding-bottom: 40px;
}
.help-header-last {
    padding-bottom: 0px;
}
.help-img {
    margin-top: 110px;
}
/* ==== Help End ==== */

/* ==== Convinced Start ==== */
#convinced {
    padding-bottom: 130px;
    position: relative;
}
.convinced-left-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.convinced-header {
    padding: 70px 0px;
}
.client-main-slide {
    background: url(../images/queatbg.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.client-main-slide .c-left {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 65%;

    -ms-transform: translateY(-65%);
    -webkit-transform: translateY(-65%);
    -moz-transform: translateY(-65%);
    -o-transform: translateY(-65%);
    transform: translateY(-65%);
    left: -120px;
    color: #7e65d4;
    font-size: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 70px;
    z-index: 1;
    -moz-box-shadow:    0px 25px 50px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.client-main-slide .c-right {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 65%;
    -ms-transform: translateY(-65%);
    -webkit-transform: translateY(-65%);
    -moz-transform: translateY(-65%);
    -o-transform: translateY(-65%);
    transform: translateY(-65%);
    right: -120px;
    color: #7e65d4;
    font-size: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 70px;
    z-index: 1;
    -moz-box-shadow:    0px 25px 50px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}
.client-box-main {
    position: relative;
    margin: 50px 10px;
}
.client-box-main .client-boxbg-pic {
    position: absolute;
    bottom: -95px;
    left: -50px;
    z-index: -1;
}
.client-box-main .client-boxbg-top {
    top: -70px;
    right: -55px;
    left: auto;
}
.client-box {
    background: #ffffff;
    border-radius: 15px;
    -moz-box-shadow:    5px 15px 40px 0px rgba(207,216,220,0.2);
    -webkit-box-shadow: 5px 15px 40px 0px rgba(207,216,220,0.2);
    box-shadow: 5px 15px 40px 0px rgba(207,216,220,0.2);
    padding: 105px 30px 40px 40px;
    position: relative;
}
.client-box img {
    position: absolute;
    top: -37px;
    left: 25px;
}
.client-box p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #616161;
    line-height: 30px;
    padding-bottom: 35px;
}
.client-box h5 {
    font-weight: 700;
    font-size: 20px;
    color: #4681ff;
}
.client-box h5 span {
    font-size: 18px;
    color: #24233f;
}
/* ==== Convinced End ==== */

/* ==== FAQ Start ==== */
#faq {
    padding-bottom: 200px;
}

.faq-header {
    padding-bottom: 60px;
}

.panel-group .panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    -moz-box-shadow:    0px 10px 60px 0px rgba(32,94,171,0.13);
    -webkit-box-shadow: 0px 10px 60px 0px rgba(32,94,171,0.13);
    box-shadow: 0px 10px 60px 0px rgba(32,94,171,0.13);
}
.panel-default .panel-heading {
    color: #24233f;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 30px 45px 25px 30px;
}
.panel-title a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #24233f;
}
.panel-title {
    position: relative;
}
.panel-title a.accordion-toggle[aria-expanded="true"]:before {
    content: "\f0d8";
}
.panel-title a:before {
    position: absolute;
    content: '\f0d7';
    right: -8px;
    top: 50%;

    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: FontAwesome;
    color: #24233f;
    font-size: 18px;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border: none;
    background: #ffffff;
    width: 100%;
    border-radius: 10px;
    margin: 0px auto;
    padding: 0px 30px 40px 30px;
}
.panel-body p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #616161;
    margin: 0px;
}
.panel-body p a {
    color: #ffffff;
}
/* ==== FAQ End ==== */

/* ==== Footer Start ==== */
#footer {
    background: url(../images/footerbg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#footer-other {
    background: url(../images/footer-other.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.footer-other-top {
    margin-top: 350px;
}
.footer-header {
    background: #4cabed;
    background: -moz-linear-gradient(-45deg, #4cabed 0%, #4279e3 100%, #7db9e8 100%);
    background: -webkit-linear-gradient(-45deg, #4cabed 0%,#4279e3 100%,#7db9e8 100%);
    background: linear-gradient(135deg, #4cabed 0%,#4279e3 100%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cabed', endColorstr='#7db9e8',GradientType=1 );
    text-align: center;
    border-radius: 10px;
    -moz-box-shadow:    0px 20px 40px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.15);
    padding: 70px 0px 55px;
    margin-top: -70px;
}
.footer-header form {
    margin-top: 20px;
}
.footer-header .btn {
    padding: 11px 55px;
    margin: 18px 0px;
}
.footer-box {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    padding-top: 90px;
}
.footer-box h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 35px;
    text-transform: uppercase;
}
.footer-box p {
    line-height: 30px;
    padding-bottom: 35px;
}
.footer-box a {
    color: #ffffff;
}
.footer-box span {
    display: block;
    padding-top: 10px;
}
.footer-box ul {

}
.footer-box ul li {
    padding: 7px 0px;
}
.footer-box .btn-f {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: none;
    padding: 11px 40px;
    margin-top: 12px;
    display: inline-block;
}
.footer-bottom {
    padding: 110px 0px 55px;
}
.footer-bottom-text p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    padding-top: 10px;
}
.footer-bottom-text a {
    display: inline-block;
}
/* ==== Footer End ==== */

/* ==== Result Start ==== */
.result-vid-wrap {
    margin-bottom: -64%;
}
.result-head h2 span:before {
    bottom: 9px;
    width: 68%;
    left: auto;
    right: 0px;
}
.result-head h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin: 5px 0 25px 0;
}
.result-head p {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 10px 0;
}
.result-head-marbtm {
    margin-bottom: 245px;
}
.saving-code-text {
    padding: 5px 0px;
}
.saving-code-text h3 {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
}
.saving-code-text .btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #24233f;
    background-color: #ffffff;
    border: 2px solid #a9a9a9;
    box-shadow: none;
    text-shadow: none;
    margin: 10px 0px;
    padding: 12px 35px;
}
.result-vid {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 144px 0;
    position: relative;
    -moz-box-shadow:    0px 0px 34px 3px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.16);
}
.vbox-item:focus {
    outline: none;
}
.vid-play {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.result-vid-bottom h4 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    margin: 20px 0 10px 0;
}
.result-vid-bottom input[type=text] {
    font-family: 'Montserrat', sans-serif;
    /*color: #000;*/
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: 20px auto 10px auto;
    color: #808080;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    background: #ffffff;
    height: 54px;
    padding: 6px 12px 6px 15px;
    -moz-box-shadow:    0px 13px 70px -16px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
    box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
    width: 270px;
}

.result-vid-bottom .btn {
    padding: 14px 20px;
    width: 390px;
    font-size: 30px;
}
.result-vid-bottom .btn i {
    font-weight: 400;
    font-size: 25px;
}
.result-vid-bottom p {
    color: #616161;
    margin: 18px 0 8px 0;
}
.result-vid-bottom p i {
    color: #ffc600;
}


.paying-cont {
    position: relative;
}
.pay-arrow {
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
}


.paying {
    background: #ffffff;
    padding: 35px 20px 0px;
    text-align: center;
    -moz-box-shadow:    0px 13px 70px -16px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
    box-shadow: 0px 13px 70px -16px rgba(0,0,0,0.3);
    border-radius: 10px;
    position: relative;
    min-height: 175px;
    margin: 0 auto;
    max-width: 325px;
    width: 100%;
}
.paying:before {
    position: absolute;
    content: url(../images/yellow_down.png);
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.paying h3 {
    font-size: 18px;
    font-weight: 600;
    color: #24233f;
    text-transform: uppercase;
}
.paying span {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #24233f;
    text-transform: uppercase;
}
.man_pic {
    position: absolute;
    bottom: 182px;
    left: 65%;
    transform: translateX(-65%);
}
.man_pic1 {
    left: 35%;
    transform: translateX(-35%);
}

#result-form {
    padding: 55px 0px;
}
.result-form-main{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.result-form-main h3 {
    font-size: 30px;
    font-weight: 700;
    color: #24233f;
    padding: 15px 0px 10px;
}
.result-form-main .form-control {
    width: 100%;
    margin: 0px;
}
.result-form-main .btn {
    padding: 10px;
    max-width: 100%;
    width: 100%;
    font-size: 30px;
    margin: 15px 0px;
}
.result-form-main .suc-logo {
    display: inline-block;
    padding-top: 10px;
}

#result-adds {
    /*background: url(../images/resultmapbg.png);*/
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 55%;
    margin-top: -230px;
    position: absolute;
}
.result-adds-header {
    padding-top: 92px;
}
.result-adds-header h3 {
    font-size: 30px;
    font-weight: 700;
    color: #24233f;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 50px 0px 0px;
}
.result-adds-header .purple_arrow {
    display: inline-block;
    vertical-align: bottom;
}
.result-adds-box {
    background: url(../images/results_addsbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 15px 18px;
    border-radius: 10px;
    max-width: 320px;
    margin: 0 auto;
}
.result-adds-box h3 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 70px;
    padding-bottom: 3px;
}
.result-adds-box .hand-img {
    position: absolute;
    top: 36px;
    right: 0;
}
.result-adds-box .btn {
    font-size: 24px;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    border-bottom: none;
    margin-top: 20px;
}

#email-add {
    padding-top: 40px;
    padding-bottom: 110px;
}
.email-add-form {
    text-align: center;
}
.email-add-form p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #24233f;
    padding-bottom: 15px;
}
.email-add-form p span {
    font-weight: 700;
}
.email-add-form .input-single {
    float: left;
    width: 20%;
    padding-left: 10px;
    box-sizing: border-box;
}
.email-add-form .input-single .form-control {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6c6c6c;
    border: 2px solid #ebebeb;
    box-shadow: none;
    width: 100%;
    margin: 0px;
}
.email-add-form .btn {
    max-width: 390px;
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
}

#vidafter {
    padding: 0px 0 95px 0;
}
.vidaf-wrap {
    padding: 15px 20px;
    border-radius: 4px;
    min-height: 140px;
    -moz-box-shadow:    0px 4px 20px 1px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.10);
    min-height: 365px;
    margin-top: 45px;
    margin-bottom: 20px;
    transition: all linear .5s;
}
.vidaf-wrap:hover {
    opacity: 0.55;
}
.vidaf-wrap img {
    margin-bottom: 15px;
}
.vidaf-wrap h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #24233f;
}
.vidaf-wrap p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #24233f;
    padding-top: 20px;
    line-height: 20px;
}
.vidaf-wrap .para-top {
    padding-top: 40px;
}

#faq-res {
    padding-bottom: 100px;
}
/* ==== Result End ==== */

/* ==== Contact Start ==== */
.cont-head h2 {
    font-weight: 700;
}
.cont-head h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    margin: 5px 0 25px 0;
}
.cont-frm-wrap-main {
    border-radius: 6px;
    -moz-box-shadow:   0px 0px 0px 2px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.3);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.3);
}
.cont-frm-wrap {
    border-radius: 6px;
    background: #fff;
    -moz-box-shadow:   0px 0px 34px 3px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.16);
    margin-bottom: -35%;
    overflow: hidden;
}
.cont-l {
    float: left;
    width: 60%;
    padding: 45px 30px 26px 30px;
    background: #fff;
}
.cont-r {
    float: left;
    width: 40%;
    padding: 45px 0 60px 25px;
    background: #7e65d4;
}
.cont-frm-inner h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #24233f;
    margin-bottom: 45px;

}
.cont-hl {
    float: left;
}
.cont-hr {
    float: right;
}
.cont-form .form-control {
    font-size: 16px;
    padding: 20px 18px;
    margin: 0px 0 12px 0;
    width: 100%;
}
.cont-form textarea {
    resize: none;
}
.cont-form .btn {
    font-size: 18px;
    padding: 8px 20px;
    width: 190px;
    margin: 10px 0 0 0;
}
.cont-r .cont-frm-inner h5 {
    color: #fff;
}
.cont-list {
    padding-bottom: 26px;
}
.cont-list ul li i {
    float: left;
    color: #fff;
    font-size: 25px;
    margin-right: 12px;
}
.cont-list ul li {
    margin-bottom: 34px;
}
.cont-list ul li p, .cont-list ul li a{
    overflow: hidden;
    color: #fff;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}
.cont-social {
    padding-left: 30px;
}
.cont-social ul li {
    display: inline-block;
    margin-right: 12px;
}
.cont-social ul li a {
    color: #fff;
    font-size: 14px;
}
.gap {
    padding: 500px;
}
/* ==== Contact End ==== */
/* ==== Job Start ==== */

.jobs-head h4 {
    margin: 5px 0 220px 0;
}
.jobs-head h2 {
    font-weight: 700;
}
.job-h {
    padding-top: 80px;
}
.job-h h3 {
    font-weight: 300;
    font-size: 30px;
}
.panel-title a span {
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    color: #616161;
    margin-left: 12px;
}
#faq-res .panel-title a br {
    display: none;
}
.panel-title .date {
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    color: #616161;
    position: absolute;
    top: 25%;
    -ms-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
    right: 30px;
}
.ux-body p {
    margin-bottom: 26px;
}
.ux-body h6 {
    font-weight: 700;
    font-size: 14px;
    color: #616161;
    padding-bottom: 20px;
}
.ux-body ul li p {
    margin: 0px;
    padding-bottom: 15px;
}
.ux-body ul li p i {
    color: #7e65d4;
    padding-right: 8px;
}
.ux-body .btn {
    font-size: 18px;
    margin-top: 10px;
    padding: 11px 70px;
}
/* ==== Job End ==== */

/* ==== Loading Start ==== */
.full-height {
    height: 100%;
}
.loading-wrapper {
    width: 100%;
    height: 100%;
}
#loading {
    background-image: url(../images/loading-bg.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;
}
#load {
    padding: 20px 0px;
}
.load-head h2 span:before {
    width: 100%;
}
.load-head h2 {
    margin-bottom: 25px;
}
.load-ico img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 34px;
    opacity: 0.7;
}
.load-ico img:last-child {
    margin-right: 0px;
}
.no-hov img {
    opacity: 1;
}
.load-map {
    padding: 10px;
    background: #fff;
    border: 2px solid #7eb1ee;
    border-radius: 12px;
    margin: 12px 0 0 0;
}
.load-2-logo {
    float: left;
    width: 18.5%;
    padding: 22px 0 0 0;
}
.load-2-txt {
    float: left;
    width: 46%;
    padding: 22px 0 0 0;
}
.load-2-txt h4 {
    font-size: 24px;
    color: #24233f;
    line-height: 1;
    margin: 0 0 12px 0;
    font-weight: 700;
}
.load-2-txt p {
    font-family: 'Titillium Web', sans-serif;
    color: #616161;
}
.load-2-txt p span {
    color: #f9b617;
}
.load-2-txt p span i:last-child {
    color: #e2e2e2;
}
.load-2-txt a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #24233f;
    margin: 0 0 12px 0;
}
.load-2-map {
    float: left;
    width: 35.5%;
    height: 150px;
    border-radius: 12px;
}
/*.load-2-map img {
    width: 100%;
}*/
.load-promo {
    background: #fff;
    border-radius: 12px;
    margin: 12px 0 0 0;
}
.promo-parts {
    float: left;
    width: 25%;
    padding: 20px 5px 12px 5px;
    border-right: 1px solid #e5e5e5;
}
.promo-shadow {
    -moz-box-shadow:   0px 15px 40px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 15px 40px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 15px 40px 2px rgba(0,0,0,0.25);
}
.no-br {
    border-right: none;
}
.promo-parts h5 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #7e65d4;
    margin: 0;
}
.promo-parts h5 span {
    font-size: 22px;
    font-weight: 700;
    position: relative;
}
.promo-parts h5 span::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;

    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 4px;
    width: 30px;
    border-radius: 1px;
    background: #dfdfdf;
}

.promo-parts p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #616161;
    margin: 30px 0 4px 0;
}
.load-price-wrap h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 37px;
    font-weight: 300;
    color: #24233f;
    margin: 22px 0 0px 0;
}
.load-price-wrap h4 sub {
    font-size: 23px;
    vertical-align: middle;
}
.load-price-wrap h4 sup {
    font-size: 24px;
}
.load-price-wrap p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #616161;
    margin: 0 0 22px 0;
}
.wrap-bl h4 {
    font-weight: 700;
}
.load-main {
    position: relative;
}
.loading-1 {
    opacity: 0;

    -webkit-animation-name: fadeInOut;
    -webkit-animation-duration: 6s;

    animation-name: fadeInOut;
    animation-duration: 6s;
    position: absolute;
    top: 0;
    left: 50%;

    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.loading-ico-main {
    position: relative;
}
.main-ld-ico {
    position: absolute;
    top: 0;
    left: 50%;

    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.ico-load-1 {
    opacity: 0;

    -webkit-animation-name: fadeInOutico;
    -webkit-animation-duration: 3s;

    animation-name: fadeInOutico;
    animation-duration: 3s;
}
.ico-load-2 {
    opacity: 0;

    -webkit-animation-name: fadeInOutico;
    -webkit-animation-delay: 3s;
    -webkit-animation-duration: 3s;

    animation-name: fadeInOutico;
    animation-delay: 3s;
    animation-duration: 3s;
}
.load-ico .load-logo-1 {

    -webkit-animation-name: fadeInOutlogo;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogo;
    animation-duration: 0.5s;
}
.load-ico .load-logo-2 {

    -webkit-animation-name: fadeInOutlogo;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogo;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}
.load-ico .load-logo-3 {

    -webkit-animation-name: fadeInOutlogo;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogo;
    animation-delay: 1s;
    animation-duration: 0.5s;
}
.load-ico .load-logo-4 {

    -webkit-animation-name: fadeInOutlogo;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogo;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
}
.load-ico .load-logo-5 {

    -webkit-animation-name: fadeInOutlogo;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogo;
    animation-delay: 2s;
    animation-duration: 0.5s;
}
.load-ico .load-logo-6 {

    -webkit-animation-name: fadeInOutlogo;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogo;
    animation-delay: 2.5s;
    animation-duration: 0.5s;
}


.lo-1 {
    max-width: 63px;
}
.lo-2 {
    max-width: 78px;
}
.lo-3 {
    max-width: 69px;
}
.lo-4 {
    max-width: 59px;
}
.lo-5 {
    max-width: 58px;
}


.ico-load-2 .logo-rev-5 {

    -webkit-animation-name: fadeInOutlogorev;
    -webkit-animation-delay: 3s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogorev;
    animation-delay: 3s;
    animation-duration: 0.5s;
}
.ico-load-2 .logo-rev-4 {

    -webkit-animation-name: fadeInOutlogorev;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogorev;
    animation-delay: 3.5s;
    animation-duration: 0.5s;
}
.ico-load-2 .logo-rev-3 {

    -webkit-animation-name: fadeInOutlogorev;
    -webkit-animation-delay: 4s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogorev;
    animation-delay: 4s;
    animation-duration: 0.5s;
}
.ico-load-2 .logo-rev-2 {

    -webkit-animation-name: fadeInOutlogorev;
    -webkit-animation-delay: 4.5s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogorev;
    animation-delay: 4.5s;
    animation-duration: 0.5s;
}
.ico-load-2 .logo-rev-1 {
    -webkit-animation-name: fadeInOutlogorev;
    -webkit-animation-delay: 5s;
    -webkit-animation-duration: 0.5s;

    animation-name: fadeInOutlogorev;
    animation-delay: 5s;
    animation-duration: 0.5s;
}

.loading-2 {
    opacity: 0;

    -webkit-animation-name: fadeInOut;
    -webkit-animation-delay: 6s;
    -webkit-animation-duration: 3s;

    animation-name: fadeInOut;
    animation-delay: 6s;
    animation-duration: 3s;

    position: absolute;
    top: 0;
    left: 50%;

    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.loading-3 {
    opacity: 0;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-delay: 9s;
    -webkit-animation-duration: 3s;
    animation-name: fadeInOut;
    animation-delay: 9s;
    animation-duration: 3s;
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.loading-4 {
    opacity: 0;

    -webkit-animation-name: fadeInOut;
    -webkit-animation-delay: 12s;
    -webkit-animation-duration: 3s;

    animation-name: fadeInOut;
    animation-delay: 12s;
    animation-duration: 3s;

    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.loading-5 {
    opacity: 0;

    -webkit-animation: 3s fadeInOutlast 15s forwards;

    animation: 3s fadeInOutlast 15s forwards;

    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}



@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeInOutico {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInOutlast {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInOutlogo {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInOutlogorev {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}



@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes fadeInOutico {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInOutlast {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeInOutlogo {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeInOutlogorev {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}
.preloader-wrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 150%;
}
.percentage {
    font-family: 'Montserrat', sans-serif;
    z-index: 100;
    border: 1px solid #ccc;
    text-align:center;
    color: #fff;
    line-height: 30px;
    font-size : 14px;
    font-weight: 700;
}

.loader,
.percentage{
    height: 30px;
    max-width: 400px;
    border: 2px solid #4e4887;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin : auto;
}
.loader:after,
.percentage:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.trackbar {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    opacity: 0.99;
}

.loadbar {
    width: 0%;
    height: 100%;
    background: repeating-linear-gradient(
            45deg,
            #4e4887,
            #4e4887 10px,
            #7e65d4 10px,
            #7e65d4 20px
    ); /* Stripes Background Gradient */
    -moz-box-shadow:   0px 0px 14px 1px #4e4887;
    -webkit-box-shadow: 0px 0px 14px 1px #4e4887;
    box-shadow: 0px 0px 14px 1px #4e4887;
    position: absolute;
    top: 0;
    left: 0;
    animation: flicker 6s infinite;
    overflow: hidden;
}
.glow {
    width: 0%;
    height: 0%;
    border-radius: 20px;
    -moz-box-shadow:   0px 0px 60px 10px #4e4887;
    -webkit-box-shadow: 0px 0px 60px 10px #4e4887;
    box-shadow: 0px 0px 60px 10px #4e4887;
    position: absolute;
    bottom: -5px;
    animation: animation 6s infinite;
}
@keyframes animation {
    10% {
        opacity: 0.9;
    }
    30% {
        opacity: 0.86;
    }
    60% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.75;
    }
}

/* ==== Loading End ==== */
/* ==== FAQ Start ==== */

.f-head h2 span:before {
    bottom: 0;
}

/* ==== FAQ End ==== */
/* ==== Privacy Start ==== */

.advertised-text .pt-none {
    padding-top: 0px;
}
.generic-hrader {
    padding-bottom: 30px;
}
.generic-text {
    padding-bottom: 30px;
}
.generic-box {
    background: #4cabed;
    background: -moz-linear-gradient(-45deg, #4cabed 0%, #4279e3 100%, #7db9e8 100%);
    background: -webkit-linear-gradient(-45deg, #4cabed 0%,#4279e3 100%,#7db9e8 100%);
    background: linear-gradient(135deg, #4cabed 0%,#4279e3 100%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cabed', endColorstr='#7db9e8',GradientType=1 );
    border-radius: 10px;
    -moz-box-shadow:  0px 10px 40px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.25);
    margin: 40px 0px 50px 0px;
    padding: 15px;
    color: #ffffff;
}
.generic-box p {
    color: #ffffff;
}
.generic-list p {
    padding: 0px;
}
.generic-list ul li p a {
    padding: 0px;
    font-size: 16px;
}
.generic-list h4 {
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 20px;
}
.generic-list ul li a {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    padding: 10px 0px;
}
.generic-list ul li a i {
    transition: all linear .3s;
}
.generic-list ul li a:hover i {
    padding-right: 5px;
}
.generic-list ul li ul {
    margin-left: 15px;
}
/* ==== Privacy End ==== */

/* ==== Offer part ==== */
.offer-mrb {
    margin-bottom: -85px;
}
.offer-head-count {
    text-align: center;
}
.offer-head-count h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}
#countdown {
    position: relative;
    margin: auto;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
}

#countdown-number {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    border: 2px solid #5ea3e8;
    border-radius: 50%;
    display: inline-block;
    line-height: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 168px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: #29cd76;
    fill: none;
    animation: countdown 15s linear infinite forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 168px;
    }
}
.offer-box-main {
    overflow: hidden;
    padding: 35px 0px 60px;
}
.offers-all {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding-left: 20px;
}
.offer-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    -moz-box-shadow: 15px 0px 40px 0px rgba(32,94,171,0.10);
    -webkit-box-shadow: 15px 0px 40px 0px rgba(32,94,171,0.10);
    box-shadow: 15px 0px 40px 0px rgba(32,94,171,0.10);
}
.offer-box h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #24233f;
    padding-top: 8px;
}
.offer-box p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #24233f;
    padding-top: 8px;
}
.offer-header {
    text-align: center;
    padding: 60px 0px 80px;;
}
.offer-header p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #616161;
    padding-bottom: 35px;
}
.offer-header h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #24233f;
    padding-top: 15px;
}
.offer-header .btn {
    max-width: 225px;
    width: 100%;
    font-size: 30px;
    padding: 12px;
    margin: 30px 0px 20px 15px;
}
.offer-header .ofr-txt {
    text-align: right;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #adadad;
    padding-right: 130px;
}
.offer-header i {
    font-size: 20px;
    color: #adadad;
}






.result-ready-head {
    margin-bottom: 150px;
}
.result-ready-head h2 {
    font-weight: 700;
    padding-bottom: 10px;
}
.result-ready-head .form-control {
    width: 60%;
    margin-top: 10px;
}
#ready-result {
    padding: 85px 0px 120px;
}
.ready-result-text p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #616161;
    padding: 35px 0px 20px;
}
.ready-result-text .form-control {
    display: block;
    margin: 0 auto;
    width: 60%;
}
.ready-result-text .btn {
    max-width: 390px;
    width: 100%;
    margin-top: 20px;
}
/* ==== Offer part ==== */

/* ==== Media css Start ==== */

@media (max-width: 1600px){
    .banner-ads-box {
        right: 156px;
    }
    .convinced-left-pic {
        top: 650px;
    }
}
@media (max-width: 1440px){
    .banner-ads-box {
        right: 75px;
    }
}
@media (max-width: 1280px){
    .banner-ads-box {
        right: 15px;
    }
    .banner-ads {
        padding: 5px;
    }

}
@media (min-width: 992px) and (max-width:1199px) {
    .banner-ads-box {
        right: 5px;
    }
    .banner-ads {
        padding: 5px;
    }
    .banner-ads-pic img {
        max-width: 47px;
    }
    .banner-ads-text {
        padding-left: 4px;
    }
    .banner-ads-text h6 {
        font-size: 15px;
    }
    .banner-ads-text h6 span {
        font-size: 13px;
    }
    .banner-header h2 {
        font-size: 42px;
    }
    .banner-header h3 {
        font-size: 32px;
    }
    .banner-header-logo img {
        margin-right: 8px;
    }
    .banner-form {
        padding: 25px 25px 30px 25px;
    }
    .banner-form h3 {
        font-size: 40px;
    }
    .banner-form .btn {
        font-size: 26px;
    }
    .feature-logo img {
        padding: 0px 10px;
    }
    #advertised {
        padding: 70px 0px;
    }
    .advertised-main {
        padding-top: 100px;
    }
    .advertised-text .btn {
        padding: 15px 45px;
    }
    #savings {
        padding: 30px 0px;
    }
    .savings-box {
        padding: 0px 20px
    }
    .savings-box h4 {
        font-size: 26px;
    }
    .savings-box .savings-last-pic {
        max-width: 98px;
        padding: 0px;
    }
    #work {
        padding: 80px 0px 0px;
    }
    .work-box img {
        padding: 25px 0px;
    }
    .work-box h5 {
        font-size: 18px;
    }
    .work-box p br {
        display: none;
    }
    .work-box p {
        padding: 15px 0px 30px;
        line-height: 28px;
        font-size: 14px;
    }
    #help {
        background-size: 60%;
        padding: 40px 0px;
    }
    .help-header {
        padding-bottom: 35px;
    }
    .help-header h3 {
        font-size: 34px;
    }
    .help-header h4 {
        font-size: 28px;
    }
    .help-img {
        margin-top: 70px;
    }
    #convinced {
        padding-bottom: 80px;
    }
    .client-main-slide {
        background-size: 40%;
    }
    .convinced-header {
        padding: 70px 0px 20px;
    }
    .client-main-slide .c-left {
        width: 55px;
        height: 55px;
        left: -65px;
        font-size: 24px;
        line-height: 55px;
    }
    .client-main-slide .c-right {
        width: 55px;
        height: 55px;
        right: -65px;
        font-size: 24px;
        line-height: 55px;
    }
    .client-box {
        padding: 90px 30px 40px 40px;
    }
    .client-box p {
        font-size: 16px;
        padding-bottom: 25px;
    }
    .panel-default .panel-heading {
        padding: 30px 35px 20px 30px;
        min-height: 80px;
    }
    .panel-title a {
        font-size: 16px;
    }
    .panel-title a:before {
        top: 40%;
        -ms-transform: translateY(-40%);
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -o-transform: translateY(-40%);
        transform: translateY(-40%);
    }
    .footer-bottom {
        padding: 80px 0px 55px;
    }

    .footer-other-top {
        margin-top: 270px;
    }
    .vidaf-wrap h5 {
        font-size: 16px;
    }
    #vidafter {
        padding: 00px 0 106px 0;
    }
    .result-head-marbtm {
        margin-bottom: 245px;
    }
    .paying {
        min-height: 145px;
    }
    .man_pic {
        bottom: 152px;
    }
    .paying h3 {
        font-size: 18px;
    }
    .paying span {
        font-size: 40px;
    }
    .result-adds-header {
        padding-top: 80px;
    }
    .result-form-main .btn {
        font-size: 26px;
    }
    .result-adds-header h3 {
        font-size: 26px;
        padding: 20px 15px 0px 0px;
    }
    .result-adds-header .purple_arrow {
        max-width: 60px;
    }
    .result-adds-box h3 {
        font-size: 18px;
        padding-top: 55px;
    }
    .result-adds-box .hand-img {
        top: 27px;
        max-width: 130px;
    }
    .saving-code-text h3 {
        font-size: 20px;
    }
    .greatnews-img {
        padding-top: 15px;
    }
    .vidaf-wrap {
        padding: 15px;
        min-height: 400px;
    }
    .vidaf-wrap p {
        padding-top: 10px;
    }
    .vidaf-wrap .para-top {
        padding-top: 29px;
    }
    .jobs-head h2 span:before {
        bottom: 7px;
    }
    .load-ico img {
        margin-right: 20px;
    }
    .load-2-txt p {
        font-size: 14px;
    }
    .f-head h2 span:before {
        bottom: 0;
    }
    .generic-list p {
        padding: 0px;
    }
    .offer-box h3 {
        font-size: 16px;
    }
    .offer-header h4 {
        font-size: 34px;
    }
    .offer-header .ofr-txt {
        padding-right: 65px;
    }
}
@media (min-width: 768px) and (max-width:991px) {
    .banner-header h2 span:before {
        bottom: 5px;
    }
    .banner-main {
        padding-top: 40px;
    }
    .banner-header h2 {
        font-size: 40px;
    }
    .banner-header h3 {
        font-size: 24px;
    }
    .banner-header-logo img {
        margin-right: 8px;
        margin-bottom: 3px;
    }
    .banner-form-box {
        margin: 30px 0px -30px;
    }
    .banner-form h3 {
        font-size: 38px;
        padding-bottom: 20px;
    }
    .banner-form {
        padding: 25px;
    }
    .form-control {
        width: 44%;
    }
    .banner-form .btn {
        font-size: 22px;
        padding: 10px 35px;
        margin: 18px 0px;
    }
    .all-header h4 {
        font-size: 26px;
    }
    .all-header h3 {
        font-size: 34px;
    }
    .btn {
        font-size: 20px;
        padding: 14px 35px;
    }
    #advertised {
        padding: 60px 0px 60px;
    }
    .advertised-pic {
        margin-top: 80px;
    }
    .advertised-main {
        padding-top: 100px;
    }
    .advertised-text p {
        line-height: 30px;
        padding: 20px 0px;
    }
    .advertised-text .btn {
        padding: 15px 45px;
    }
    .feature-logo {
        padding: 10px 0px;
    }
    .feature-logo img {
        padding: 10px 20px;
    }
    #savings {
        padding: 25px 0px;
    }
    .savings-box {
        padding: 0px 15px;
    }
    .savings-box img {
        max-width: 35px;
    }
    .savings-box h4 {
        font-size: 18px;
    }
    .savings-last-pic {
        max-width: 80px !important;
        padding: 0px !important;
    }
    #work {
        padding: 70px 0px 0px;
    }
    .work-btn {
        padding-bottom: 30px;
    }
    .work-box img {
        padding: 20px 0px;
        max-width: 80px;
    }
    .work-box h5 {
        font-size: 14px;
    }
    .work-box p br {
        display: none;
    }
    .work-box p {
        font-size: 12px;
        padding: 15px 0px 20px;
        line-height: 23px;
    }
    .work-box-main {
        margin: 50px 5px;
    }
    .work-box-main .work-boxbg-pic {
        position: absolute;
        bottom: -55px;
        right: -40px;
        max-width: 180px;
    }
    .work-box-main .work-boxbg-left {
        left: -40px;
    }
    .work-box-main .work-boxbg-top {
        top: -40px;
        right: -35px;
    }
    #help {
        background-size: 65%;
        padding: 40px 0px;
    }
    .help-header {
        padding-bottom: 20px;
    }
    .help-header h4 {
        font-size: 20px;
    }
    .help-header h3 {
        font-size: 26px;
    }
    .help-img {
        margin-top: 70px;
    }
    .client-main-slide {
        background-size: 45%;
    }
    .convinced-header {
        padding: 70px 0px 0px;
    }
    .client-main-slide .c-left {
        width: 55px;
        height: 55px;
        left: -65px;
        font-size: 24px;
        line-height: 55px;
    }
    .client-main-slide .c-right {
        width: 55px;
        height: 55px;
        right: -65px;
        font-size: 24px;
        line-height: 55px;
    }
    .client-box {
        padding: 65px 20px 30px 30px;
    }
    .client-box img {
        top: -37px;
        left: 15px;
        max-width: 110px;
    }
    .client-box p {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 20px;
    }
    .client-box h5 {
        font-size: 18px;
    }
    .client-box h5 span {
        font-size: 16px;
    }
    .client-box-main .client-boxbg-pic {
        bottom: -45px;
        left: -25px;
        max-width: 180px;
    }
    .client-box-main .client-boxbg-top {
        top: -50px;
        right: -25px;
        left: auto;
    }
    #convinced {
        padding-bottom: 60px;
    }
    .panel-default .panel-heading {
        padding: 20px 40px 20px 30px;
    }
    .panel-title a {
        font-size: 14px;
    }
    .panel-body p {
        font-size: 14px;
    }
    #faq {
        padding-bottom: 140px;
    }
    .footer-box {
        font-size: 14px;
        padding-top: 70px;
    }
    .footer-box h5 {
        font-size: 16px;
        padding-bottom: 25px;
    }
    .footer-box p {
        line-height: 25px;
        padding-bottom: 25px;
        font-size: 14px;
    }
    .footer-box span {
        padding-top: 5px;
    }
    .footer-box ul li {
        padding: 5px 0px;
    }
    .footer-box .btn-f {
        font-size: 16px;
        padding: 11px 30px;
        margin-top: 10px;
    }
    .footer-bottom {
        padding: 50px 0px 40px;
    }
    .footer-bottom-text p {
        font-size: 14px;
    }
    .footer-other-top {
        margin-top: 250px;
    }
    .result-head p {
        font-size: 14px;
    }
    .result-vid-bottom .btn {
        width: 340px;
        font-size: 26px;
    }
    .greatnews-img {
        padding-top: 0px;
    }
    .vidaf-wrap h5 {
        font-size: 12px;
    }
    #vidafter {
        padding: 0px 0 106px 0;
    }
    .result-head-marbtm {
        margin-bottom: 185px;
    }
    .paying {
        min-height: 135px;
    }
    .man_pic {
        bottom: 142px;
        max-width: 135px;
    }
    .paying h3 {
        font-size: 16px;
    }
    .paying span {
        font-size: 36px;
    }
    .result-form-main h3 {
        font-size: 24px;
    }
    .result-form-main .btn {
        font-size: 22px;
    }
    #result-adds {
        background-size: cover;
        text-align: center;
        padding: 10px 0px;
    }
    .result-adds-header {
        padding: 0px 0px 40px;
    }
    .result-adds-header h3 {
        font-size: 26px;
        padding: 20px 15px 0px 0px;
    }
    .result-adds-header .purple_arrow {
        max-width: 60px;
    }
    .result-adds-box {
        max-width: 280px;
    }
    .result-adds-box h3 {
        font-size: 18px;
        padding-top: 55px;
    }
    .result-adds-box .hand-img {
        top: 46px;
        max-width: 110px;
    }
    .saving-code-text h3 {
        font-size: 20px;
    }
    .vidaf-wrap {
        padding: 20px;
        min-height: 288px;
    }
    .vidaf-wrap p {
        padding-top: 15px;
    }
    .vidaf-wrap .para-top {
        padding-top: 15px;
    }
    .jobs-head h4 {
        margin: 5px 0 140px 0;
    }
    .panel-title .date {
        font-size: 14px;
        right: 20px;
    }
    .load-head h2 {
        font-size: 34px;
    }
    .load-ico img {
        margin-right: 10px;
    }
    .load-2-txt p {
        font-size: 14px;
    }
    .f-head h2 span:before {
        bottom: 0;
    }
    .generic-list p {
        padding: 0px;
    }

    .preloader-wrap{
        top: 170%;
    }
    .offer-box h3 {
        font-size: 16px;
    }
    .offer-box {
        margin-top: 15px;
    }
    .result-ready-head {
        margin-bottom: 100px;
    }
    #ready-result {
        padding: 50px 0px 80px;
    }
    .offer-header h4 {
        font-size: 32px;
    }
    .offer-header .ofr-txt {
        padding-right: 55px;
    }
}
@media (max-width:767px) {
    .banner-main {
        padding-top: 35px;
    }
    .banner-header-logo img {
        opacity: 1;
    }
    #menu {
        right: 14px;
    }
    .banner-call a {
        padding: 10px 12px 10px 18px;
    }
    .banner-header h2 {
        font-size: 40px;
    }
    .banner-header h2 span:before {
        bottom: 6px;
    }
    .banner-header h3 {
        font-size: 30px;
        margin-top: 6px;
    }
    .banner-form-box {
        margin: 20px 0px -30px;
    }
    .banner-form h3 {
        font-size: 38px;
        padding-bottom: 20px;
    }
    .banner-form {
        padding: 25px;
    }
    .form-control {
        width: 85%;
        margin: 15px 0px;
    }
    .banner-form .btn {
        font-size: 22px;
        padding: 10px 45px;
        margin: 18px 0px;
    }
    .all-header h4 {
        font-size: 26px;
    }
    .all-header h3 {
        font-size: 34px;
    }
    .btn {
        font-size: 20px;
        padding: 14px 35px;
    }
    .feature-logo img {
        padding: 0px 10px;
        max-width: 220px;
    }
    #advertised {
        padding: 60px 0px 60px;
    }
    .advertised-pic {
        margin: 0px;
    }
    .advertised-pic img {
        padding: 50px 0px;
    }
    .advertised-main {
        padding-top: 60px;
    }
    .advertised-text p {
        line-height: 30px;
        padding: 20px 0px;
    }
    .advertised-pic .btn {
        padding: 16px 70px;
        display: inline-block !important;
    }
    .feature-logo {
        padding: 10px 0px;
    }
    .feature-logo img {
        padding: 10px 10px;
    }
    #savings {
        padding: 25px 0px;
    }
    .savings-main {
        padding-top: 0px;
        text-align: center;
    }
    .savings-btn {
        text-align: center;
    }
    .savings-btn .btn {
        margin-top: 15px;
    }
    .savings-box {
        padding: 0px 15px;
    }
    .savings-box img {
        max-width: 40px;
    }
    .savings-box h4 {
        font-size: 20px;
    }
    .savings-last-pic {
        max-width: 80px !important;
        padding: 0px !important;
    }
    #work {
        padding: 70px 0px 0px;
    }
    .work-btn {
        padding-bottom: 30px;
    }
    .work-box {
        background: #ffffff;
        text-align: center;
        border-radius: 15px;
        -moz-box-shadow: 15px 15px 40px 0px rgba(32,94,171,0.10);
        -webkit-box-shadow: 15px 15px 40px 0px rgba(32,94,171,0.10);
        box-shadow: 15px 15px 40px 0px rgba(32,94,171,0.10);
        margin: 0 16px;
        padding: 26px 0px;
    }
    .work-box img {
        padding: 20px 0px;
        max-width: 80px;
    }
    .work-box h5 {
        font-size: 16px;
    }
    .work-box p {
        font-size: 14px;
        padding: 15px 0px 20px;
        line-height: 23px;
    }
    .work-box-main {
        margin: 50px;
    }
    .work-box-main .work-boxbg-pic {
        position: absolute;
        bottom: -55px;
        right: -40px;
        max-width: 180px;
    }
    .work-box-main .work-boxbg-left {
        left: -40px;
    }
    .work-box-main .work-boxbg-top {
        top: -40px;
        right: -40px;
    }
    #help {
        background-size: cover;
        padding: 40px 0px 0px;
        background-position: center;
    }
    .help-header {
        text-align: center;
        padding-bottom: 20px;
    }
    .help-header h4 {
        font-size: 20px;
    }
    .help-header h3 {
        font-size: 26px;
    }
    .help-img {
        margin-top: 70px;
    }
    .convinced-left-pic {
        top: 560px;
    }
    .client-main-slide {
        background-size: 30%;
    }
    .convinced-header {
        padding: 70px 0px 0px;
    }
    .client-main-slide .c-left {
        width: 40px;
        height: 40px;
        left: 10px;
        font-size: 14px;
        line-height: 40px;
    }
    .client-main-slide .c-right {
        width: 40px;
        height: 40px;
        right: 10px;
        font-size: 14px;
        line-height: 40px;
    }
    .work-main-slide .w-left {
        width: 40px;
        height: 40px;
        left: 10px;
        font-size: 14px;
        line-height: 40px;
    }
    .work-main-slide .w-right {
        width: 40px;
        height: 40px;
        right: 10px;
        font-size: 14px;
        line-height: 40px;
    }
    .client-box {
        padding: 65px 20px 30px 30px;
        margin: 50px;
    }
    .client-box img {
        top: -37px;
        left: 15px;
        max-width: 110px;
    }
    .client-box p {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 20px;
    }
    .client-box h5 {
        font-size: 18px;
    }
    .client-box h5 span {
        font-size: 16px;
    }
    .client-box-main .client-boxbg-pic {
        bottom: -40px;
        left: 10px;
        max-width: 180px;
    }
    .client-box-main .client-boxbg-top {
        top: -40px;
        right: 10px;
        left: auto;
    }
    #convinced {
        padding-bottom: 60px;
    }
    .panel-default .panel-heading {
        padding: 20px 40px 20px 30px;
    }
    .panel-title a {
        font-size: 14px;
    }
    .panel-body p {
        font-size: 14px;
    }
    #faq {
        padding-bottom: 140px;
    }
    .footer-header form {
        margin-top: 20px;
    }
    .banner-header .footer-hd {
        padding: 0px 7px 10px 7px;
    }
    .footer-header form .form-control{
        margin: 15px 20px;
    }
    .footer-box {
        font-size: 14px;
        padding-top: 70px;
    }
    .footer-box h5 {
        font-size: 16px;
        padding-bottom: 25px;
    }
    .footer-box p {
        line-height: 25px;
        padding-bottom: 25px;
        font-size: 14px;
    }
    .footer-box span {
        padding-top: 5px;
    }
    .footer-box ul li {
        padding: 5px 0px;
    }
    .footer-box .btn-f {
        font-size: 16px;
        padding: 11px 30px;
        margin-top: 10px;
    }
    .footer-bottom {
        padding: 50px 0px 40px;
    }
    .footer-bottom-text p {
        font-size: 14px;
    }
    .footer-box {
        text-align: center;
        position: relative;
    }
    .footer-box:before {
        position: absolute;
        content: '';
        bottom: -30px;
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 210px;
        height: 1px;
        background: #ffffff;
    }
    .footer-box-none:before {
        content: none;
    }
    .footer-other-top {
        margin-top: 300px;
    }
    .cont-list {
        padding-bottom: 0px;
    }
    .cont-social {
        padding-left: 0px;
    }
    .cont-l {
        width: 100%;
    }
    .cont-r {
        padding: 30px 0 30px 25px;
        width: 100%;
    }
    #result-form {
        padding: 50px 0px 10px;
    }
    #vidafter {
        padding: 0px 0 40px 0;
    }
    .result-head-marbtm {
        margin-bottom: 158px;
    }
    .saving-code-text h3 {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 3px;
    }
    .paying {
        min-height: 135px;
        margin-top: 30px;
    }
    .man_pic {
        bottom: 142px;
        max-width: 135px;
        left: 61%;
        transform: translateX(-65%)
    }
    .man_pic1 {
        left: 38%;
        transform: translateX(-35%);
    }
    .paying h3 {
        font-size: 16px;
    }
    .paying span {
        font-size: 36px;
    }
    .result-form-main h3 {
        font-size: 29px;
    }
    .result-form-main .btn {
        font-size: 22px;
    }
    #result-adds {
        background-size: cover;
        padding: 5px 0px;
    }
    .result-adds-header {
        text-align: center;
        padding: 0px 0px;
    }
    .result-adds-header h3 {
        font-size: 30px;
        padding: 20px 0px;
    }
    .result-adds-header .purple_arrow {
        max-width: 60px;
        display: block;
        margin: 0 auto;
        transform: rotate(90deg);
    }
    .result-adds-box {
        max-width: 280px;
    }
    .result-adds-box h3 {
        font-size: 18px;
        padding-top: 55px;
    }
    .result-adds-box .hand-img {
        top: 46px;
        max-width: 110px;
    }
    #email-add {
        padding: 15px 0px 35px;
    }
    .email-add-form .input-single {
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
    }
    .email-add-form .btn {
        max-width: 340px;
        margin-top: 10px;
    }
    .email-add-form p {
        font-size: 18px;
    }
    .vidaf-wrap {
        padding: 20px;
        min-height: 255px;
        max-width: 240px;
        margin: 20px auto;
        padding: 15px 10px;
    }
    .vidaf-wrap p {
        padding-top: 15px;
        font-size: 14px;
    }
    .vidaf-wrap .para-top {
        padding-top: 15px;
    }
    .result-head h2 span:before {
        bottom: 6px;
    }
    .result-head p {
        font-size: 12px;
    }
    .result-vid .vid-logo {
        max-width: 60%;
    }
    .jobs-head {
        padding: 60px 0px 140px;
    }
    .jobs-head h4 {
        margin: 5px 0 0px 0;
    }
    .job-h {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #faq-res .panel-title a br {
        display: block;
    }
    .panel-title a span {
        margin-left: 0px;
    }
    .panel-title .date {
        font-size: 14px;
        right: 20px;
    }
    .load-head h2 {
        font-size: 34px;
    }
    .load-head h2 span:before {
        bottom: 7px;
    }
    .load-ico img {
        margin-right: 20px;
        margin-bottom: 6px;
    }
    .main-ld-ico img {
        margin-bottom: 8px;
    }
    .f-head h2 span:before {
        bottom: 0;
    }
    /*====*/
    .generic-hrader {
        padding-bottom: 20px;
    }
    .generic-text {
        padding-bottom: 0px;
    }
    .generic-list p {
        padding: 0px;
    }
    .preloader-wrap{
        top: 160%;
    }
    .offer-box h3 {
        font-size: 16px;
    }
    .offer-box {
        margin-top: 15px;
    }
    .result-ready-head {
        margin-bottom: 70px;
    }
    #ready-result {
        padding: 50px 0px 80px;
    }
    .email-add-form p br {
        display: block;
    }
    .offer-box-main {
        padding: 0px 0px 60px;
    }
    .offer-head-count h4 {
        font-size: 16px;
    }
    .offer-head-count p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        padding-top: 15px;
    }
    .offer-header {
        padding: 40px 0px 50px;
    }
    .offer-header h4 {
        font-size: 27px;
        padding-bottom: 15px;
    }
    .offer-header .btn {
        display: block;
        margin: 0;
        margin: 0 auto 10px;
        max-width: 310px;
    }
    .offer-header .ofr-txt {
        text-align: center;
        padding-right: 0px;
    }

    .pay-arrow {
        top: -20px;
        max-width: 50px;
    }
}
@media (max-width: 480px) {
    .banner-header h2 {
        font-size: 30px;
    }
    .banner-header h3 {
        font-size: 30px;
    }
    .banner-header h2 span:before {
        height: 3px;
        bottom: 5px;
    }
    .banner-header-logo img {
        margin-right: 28px;
        margin-bottom: 3px;
    }
    .banner-form {
        padding: 20px;
    }
    .form-control {
        width: 96%;
        margin: 10px 0px;
    }
    #convinced {
        padding-bottom: 0;
    }
    .convinced-left-pic {
        top: 582px;
    }
    .client-main-slide {
        background-size: 56%;
    }
    .client-box {
        -moz-box-shadow:    5px 15px 40px 0px rgba(207,216,220,0.4);
        -webkit-box-shadow: 5px 15px 40px 0px rgba(207,216,220,0.4);
        box-shadow: 5px 15px 40px 0px rgba(207,216,220,0.4);
    }
    .footer-header form .form-control {
        margin: 10px 20px;
        width: 90%;
    }
    .footer-header {
        padding: 35px 0px;
    }

    .footer-other-top {
        margin-top: 200px;
    }
    #vidafter {
        padding: 0px 0 40px 0;
    }
    .result-head h2 span:before {
        bottom: -2px;
    }
    .cont-l {
        padding: 45px 16px;
    }
    .cont-head h4 {
        font-size: 18px;
    }
    .load-head h2 {
        font-size: 30px;
    }
    .load-head h2 span:before {
        bottom: 3px;
    }
    .load-2-logo {
        width: 25%;
    }
    .load-2-txt {
        width: 75%;
    }
    .load-2-map {
        width: 100%;
        margin-top: 16px;
    }
    /*.load-2-map img {
        width: auto;
        margin: 16px auto 0 auto;
    }*/
    .load-2-txt p {
        font-size: 14px;
    }
    .load-2-txt p span {
        font-size: 16px;
    }
    .promo-parts {
        width: 50%;
    }
    .no-brm {
        border-right: none;
    }

    .f-head h2 span:before {
        bottom: 0;
    }

    .preloader-wrap {
        top: 200%;
    }
    .ready-result-text .btn {
        max-width: 270px;
    }
    .ready-result-text .form-control {
        width: 91%;
    }
    .result-head-marbtm {
        margin-bottom: 110px;
    }
    .man_pic {
        bottom: 132px;
        max-width: 100px;
        left: 63%;
        transform: translateX(-65%);
    }
    .man_pic1 {
        left: 36%;
        transform: translateX(-35%);
    }
    .paying {
        min-height: 125px;
        margin-top: 30px;
        padding: 30px 8px 0px;
    }
    .paying h3 {
        font-size: 12px;
    }
    .paying span {
        font-size: 30px;
    }

    .saving-code-text h3 {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 3px;
    }
    .result-ready-head .form-control {
        width: 80%;
    }
    .offers-all {
        padding-left: 5px;
    }
    .offer-box {
        padding: 10px 2px 20px 2px;
    }
    .offer-box img {
        max-width: 50px;
    }
    .pay-arrow {
        top: 5px;
        max-width: 30px;
    }
}
@media (max-width: 414px) {
    .banner-header-logo img {
        margin-right: 35px;
        margin-bottom: 8px;
    }
    .banner-header-logo .ban-logo-mid {
        margin-right: 0px;
    }
    .load-ico img {
        margin-right: 35px;
    }
    .main-ld-ico .ban-logo-mid {
        margin-right: 0px;
    }
    .client-main-slide {
        background-size: 68%;
    }
    .client-box-main .client-boxbg-pic {
        display: none;
    }

    .footer-other-top {
        margin-top: 150px;
    }
    #vidafter {
        padding: 0px 0 40px 0;
    }
    .result-head p br {
        display: none;
    }
    .result-vid-bottom .btn {
        width: 330px;
    }
    .loader, .percentage {
        max-width: 320px;
    }

    .load-head h2 {
        font-size: 28px;
    }


    .offer-box h3 {
        font-size: 12px;
    }
    .offer-box p {
        font-size: 12px;
    }
    .offer-box img {
        max-width: 40px;
    }

}
@media (max-width: 375px) {
    .banner-hrader {
        padding: 13px 10px 0px;
    }
    #menu {
        width: 150px;
        right: 5px;
    }
    #menu:after {
        left: 60px;
    }
    .banner-header h2 {
        font-size: 28px;
    }
    .banner-header h3 {
        font-size: 26px;
    }
    .banner-header h2 span:before {
        height: 4px;
        bottom: 3px;
    }
    .banner-header-logo img {
        margin-right: 22px;
        margin-bottom: 8px;
    }
    .form-control {
        width: 100%;
        margin: 10px 0px;
    }
    .banner-form .btn {
        font-size: 24px;
        padding: 10px 16px;
        margin: 12px 0px;
    }
    .all-header h4 {
        font-size: 20px;
    }
    .all-header h3 {
        font-size: 30px;
    }
    #advertised {
        padding: 50px 0px;
    }
    .advertised-header {
        text-align: center;
    }
    .advertised-pic img {
        padding: 30px 0px;
    }
    .feature-logo img {
        padding: 10px 10px;
        max-width: 80px;
    }
    .feature-logo-big {
        max-width: 200px !important;
    }
    .savings-box {
        padding: 0px 5px;
    }
    .savings-box img {
        max-width: 30px;
        padding-right: 5px;
    }
    .work-box-main {
        margin: 35px;
    }
    .work-box p br {
        display: none;
    }
    .client-main-slide .c-left {
        width: 30px;
        height: 30px;
        top: 60%;

        -ms-transform: translateY(-60%);
        -webkit-transform: translateY(-60%);
        -moz-transform: translateY(-60%);
        -o-transform: translateY(-60%);
        transform: translateY(-60%);
        left: 5px;
        font-size: 14px;
        line-height: 30px;
    }
    .client-main-slide .c-right {
        width: 30px;
        height: 30px;
        top: 60%;
        -ms-transform: translateY(-60%);
        -webkit-transform: translateY(-60%);
        -moz-transform: translateY(-60%);
        -o-transform: translateY(-60%);
        transform: translateY(-60%);
        right: 5px;
        font-size: 14px;
        line-height: 30px;
    }
    .work-main-slide .w-left {
        width: 30px;
        height: 30px;
        left: 5px;
        font-size: 14px;
        line-height: 30px;
    }
    .work-main-slide .w-right {
        width: 30px;
        height: 30px;
        right: 5px;
        font-size: 14px;
        line-height: 30px;
    }
    .client-box-main {
        margin: 50px 35px;
    }
    .client-box {
        padding: 65px 20px 30px 30px;
        margin: 0px;
    }
    .client-box img {
        top: -30px;
        left: 15px;
        max-width: 95px;
    }
    .help-header h3 {
        font-size: 20px;
    }
    .help-header h4 {
        font-size: 14px;
    }
    .panel-default .panel-heading {
        padding: 20px 30px 20px 30px;
    }
    .panel-title a:before {
        position: absolute;
        content: '\f0d7';
        right: -15px;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: FontAwesome;
        color: #24233f;
        font-size: 16px;
    }
    .footer-header form .form-control {
        margin: 10px 0px;
        width: 90%;
    }
    .footer-header .btn {
        padding: 11px 32px;
        margin: 12px 0px;
    }



    #vidafter {
        padding: 0px 0 40px 0;
    }
    .result-vid-wrap {
        margin-bottom: -82%;
    }
    .result-head h2 span:before {
        bottom: 3px;
    }
    .result-vid-bottom .btn {
        width: 270px;
    }
    .panel-title .date {
        right: 10px;
    }
    .man_pic {
        bottom: 132px;
        max-width: 100px;
        left: 67%;
    }
    .man_pic1 {
        left: 32%;
        transform: translateX(-35%);
    }


    .load-promo {
        margin: 0px 0 0 0;
    }
    .load-head h2 {
        font-size: 22px;
    }
    .load-head h2 span:before {
        bottom: 2px;
    }
    .load-map {
        margin: 0px 0 0 0;
    }
    .load-ico img {
        margin-bottom: 0px;
    }
    .main-ld-ico img {
        margin-bottom: 8px;
        margin-right: 22px;
    }

    .f-head h2 span:before {
        bottom: -2px;
    }

    .advertised-header img {
        margin: 0 auto;
    }
    .loader, .percentage {
        max-width: 270px;
    }

    .saving-code-text h3 {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 3px;
    }
}
@media (max-width: 360px) {
    .banner-header-logo img {
        margin-right: 20px;
        margin-bottom: 8px;
    }
    .client-main-slide {
        background-size: 74%;
    }
    .feature-logo img {
        padding: 10px 10px;
        max-width: 70px;
    }
    .panel-default .panal-head-pad {
        padding: 20px;
    }
    .panel-group .panel-heading+.panel-collapse .job-body {
        padding: 0px 20px 30px 20px;
    }
    .panel-title a span {
        font-size: 14px;
    }
    .panel-default .panal-head-pad .panel-title a:before {
        right: -8px;
        font-size: 14px;
    }
    .ready-result-text .form-control {
        width: 95%;
    }
    .result-ready-head .form-control {
        width: 95%;
    }
}
@media (max-width: 320px) {
    .all-header h3 {
        font-size: 26px;
    }
    .banner-header-logo .ban-logo-mid {
        margin-right: 0px;
    }
    .main-ld-ico .ban-logo-mid {
        margin-right: 0px;
    }
    .work-box-main {
        margin: 25px 15px;
    }
    .client-box-main {
        margin: 50px 30px;
    }
    .client-main-slide {
        background-size: 83%;
    }
    .result-head h4 {
        font-size: 18px;
    }
    .man_pic {
        bottom: 132px;
        max-width: 100px;
        left: 70%;
    }
    .man_pic1 {
        left: 30%;
        transform: translateX(-35%);
    }
    .offers-all {
        padding-left: 3px;
    }
    .offer-box {
        padding: 10px 0px 15px 0px;
    }
}

/* ==== Media css End ==== */