/*!
* Based on Bootstrap v4.0.0 (https://getbootstrap.com) 
*/
 
// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
@import url('https://fonts.googleapis.com/css?family=Merriweather'); 
@import url('https://fonts.googleapis.com/css?family=Raleway'); 
$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #000,
  secondary: #4f70ce,
  light: #f2f2f2,
  dark: #242440,
  info: #ccc,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: #333;


$body-color-inverse: invert($body-color) !default;
$link-color: #fff;


// Fonts
$font-family-base: Raleway;

$headings-font-family: Merriweather;

$display-font-family: Raleway;

$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size:   1.30rem;




$font-size-base: 16;

@import 'bootstrap-4.0.0';

 
html,body {
   height:100%;
}

.cover {
	min-height:100%;
  display:flex;
  align-items:center
}


.bg-gradient {
  overflow: hidden;
  color: color-yiq(map-get($theme-colors, 'primary'));
  background: linear-gradient(-30deg, theme-color("secondary") 0%, theme-color("primary") 50%, theme-color("primary") 100%);
}

.filter-dark {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'dark'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'dark'), 0.75);
  }
}

.filter-light {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'light'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'light'),0.75);
  }
}

.filter-color {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'primary'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'primary'), 0.75);
  }
}

.filter-gradient {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'primary'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(-30deg, transparentize(theme-color("secondary"), 0.1) 0%, transparentize(theme-color("primary"), 0.1) 50%, transparentize(theme-color("primary"), 0.05) 100%);
  }
}

.filter-fade-in {
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: linear-gradient($body-bg, transparentize($body-bg, 0.2),transparentize($body-bg, 0.9),transparentize($body-bg, 1));
	}
}

.nav-item a{
 		color: #242440 !important;
  	font-size:16px;
}

.social {
    margin-left: 30px;
}

i.fa-facebook-official {
    color: #3a5897;
}

i.fa-twitter-square {
    color: #54aced;
}

i.fa-instagram {
    color: #3974cb;
}

i.fa-google-plus-square {
    color: #dc4e41;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #4781ff;
}

.current{
	border-bottom: 3px solid #4781ff;
}

.navbar {
  padding: 0.5rem 1rem 0;
}


h1 {
  font-weight:bold;
  font-size:42px;
}

.col-md-9.content-area {
    padding-right: 45px ;
}

.things-head h3 {
    display: block;
    text-align: center;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

.things-item h4 {
    font-size: 15px;
    font-weight: bold;
}

.things-item .col-md-8:last-child {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.things-item .col-md-4 {
    padding: 0 !important;
}

.row.things-item {
    padding: 5px 0;
}

.row.things-item:last-child {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
}

.row.things-head {
    padding-bottom: 10px !important;
}

ul.footer-link li {
    list-style: none;
    float: left;
}

ul.footer-link {
    padding: 0;
    margin: 0;
    float: right;
}

ul.footer-link li a {
    padding: 0 20px;
}

.social-content {
    float: right;
    margin-right: -20px;
}

.fa-3x {
    font-size: 2.5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.col-md-9.content-area {
    max-width: 70%;
}

.col-md-3.sidebar {
    max-width: 30%;
    flex: none;
}

.info-box {
    padding-left: 10px !important;
    font-weight: bold;
    font-size: 24px;
}

.text{
 		font-size:18px; 
  	font-family: Raleway;
 		text-align: justify;
}

.text strong{
 		 font-weight:bold;	
}

.text-p-left {
    padding-left: 30px !important;
}

p.bold-color {
    font-weight: bold;
    font-size: 22px !important;
    line-height: 30px;
}

p.bold-color strong, p strong.bold-color, .bold-color{
  	color: #4781ff;
}


.row.border-bg.bg-light.p-3  {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.row.border-bg.bg-light.p-3 strong{
  	color: #4781ff; 
}

.comment {
    font-size: 14px;
    color: #90949c;
}

.comment p{
  	color: #000; 
}

p.comment-details span {
    color: #6681bd;
}

p.comment-details {
    color: #999ca4;
    font-family: arial;
}

.b-left .col-md-11 {
    padding-left: 10px !important;
}


.row.border-bg-img.bg-light.p-3 {
    border-radius: 5px;
    border: 1px solid #ebebeb; 
}

.border-bg-img .col, .border-tb .col, .col-p .col {
    padding: 0;
    padding: 0;
}

.row.w-100.border-bottom {
    padding: 30px;
    border-bottom: 2px solid #ccc !important;
} 

.border-tb {
    border-top: 1px solid #e9ebee;
    border-bottom: 1px solid #e9ebee;
    font-size: 14px;
}

.arial{
 		font-family:arial;
    font-size: 14px;
}

.col-p input {
    width: 100%; 
    height: 50px;
    border: 1px solid #d3d6db;
    padding-left: 15px;
    color: #c6c6c6;
    font-size: 14px;
}

.col-p .col.col-md-11 {
    padding-left: 15px;
}

.comment-container p {
  font-family:arial;
}

.b-left {
    border-left: 1px dotted #d3d6db;
    padding-left: 10px;  
}

.b-bottom { 
    border-bottom: 1px solid #e9ebee;
}

p.fb-bottom {
    font-size: 11px;
    color: #365899;
    padding-top: 5px; 
}

.section-ads span {
    font-size: 14px; 
} 

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(36, 36, 64, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.strong {
 	font-weight:bold; 
}

.row.banner {
    background: #4ba8ec;
}

.row.w-100.banner-text {
    padding: 30px;
    color: #fff;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: arial;
    line-height: 35px; 
}

img.banner-color {
    margin: 20px 0; 
}

p.banner-text-2 {
    font-weight: 300;
    font-size: 24px;
    font-family: Raleway;
    line-height: 27px;
}

p.banner-text-2 strong {
    font-weight: bold;
    font-size: 25px;
}

input.phone {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
    color: #808080;
}

input.submit {
    width: 100%;
    margin-top: 15px;
    background: #7e65d4;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #634fa4;
    cursor: pointer;
}

a.submit-2 {
    width: 100%;
    margin-top: 15px;
    background: #7e65d4;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 3px solid #634fa4;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
}

a:hover {
 	text-decoration: none;  
}

input.load-more {
    width: 100%;
    background: #4080ff;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    border-color: transparent;
    cursor: pointer;
    padding: 5px 0 !important;  
}

.col.col-md-3.sort {
    text-align: right;
}

p.light-bg {
    background: #f6f7f9;
    font-size: 12px;
    padding: 5px 10px;
    color: #4267b2; 
}

span.date-now { 
    background: #ebebeb;
    padding: 10px 20px;
    top: 10px;
    position: relative;
    font-size: 16px;
    color: #333333; 
}

@media handheld, screen and (max-width: 1200px) {
  .container {
    max-width: 1140px; 
	}
}

@media handheld, screen and (max-width: 767px) {
  .content-area, .sidebar {
    max-width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0;
	}
  
  .navbar {
    padding: 1rem 1rem 0.6rem;
	}
  
  h1 {
    font-weight: bold;
    font-size: 23pt; 
	}
  
  .info-box {
    font-size: 20px;
	}
  
  .text-p-left {
    padding-left: 0px !important;
    padding-top: 15px !important;
	}
  
  .row {
    display: block;
    flex-wrap: wrap;
  }
  
  .row.social-container .col-md-6 {
    width: 50%;
    display: table-cell;
	}
  
  .fa-3x {
    font-size: 28px;
	}
  
  .social-content {
    top: 6px;  
    position: relative;
	}
  
  .row.social-container img {
    width: 90%;
	}
  
  ul.footer-link {
    padding: 0;
    margin: 0;
    float: none;
    width: 100%;
    text-align: center;
	}
  
  footer .col-6 {
    max-width: 100% !important;
	}
  
  ul.footer-link li {
    list-style: none;
    float: none;
    padding: 5px 0;
	}
  
  footer.bg-dark.py-3 {
    text-align: center;
	}
  
  .social {
    margin-left: 0;
	}
  
  .col.col-md-4 {
    text-align: center;
	}
  
  .row.w-100.border-bottom {
    padding: 30px 0;
	}
  
  .row.things-item {
    padding: 5px 0;
    min-height: 80px;
	}
  
  .row.things-item img {
    max-width: 100px;
    float: left;
	}
  
  .col-p .col.col-md-11 {
    padding-left: 15px;
	}
  
  .col.col-md-1 {
    width: 15%;
    float: left;
	}
  
  .col-p .col.col-md-11 {
    padding-left: 15px;
    float: left;
    width: 85%;
	}
  
  .input-comment {
    margin-bottom: 50px;
	}
  
  span.date-now {
    top: -5px;
  } 
  
  .hidden-xs {
    display: none;
	}
  
}



